<h1>Listing cars</h1>
 <%= link_to 'New car', new_car_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @car.each do |car| %>
    <tr>
      <td><%= car.title %></td>
      <td><%= car.text %></td>
      <td><%= link_to 'Show', car_path(car) %></td>
      <td><%= link_to 'Edit', edit_car_path(car) %></td>
      <td><%= link_to 'Destroy', car_path(car),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>