<h1>New club</h1>
<%= form_with scope: :club, url: clubs_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :date %><br>
    <%= form.text_area :date %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', clubs_path %>
