<h1>Listing tanks</h1>
 <%= link_to 'New tank', new_tank_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @tank.each do |tank| %>
    <tr>
      <td><%= tank.title %></td>
      <td><%= tank.text %></td>
      <td><%= link_to 'Show', tank_path(tank) %></td>
      <td><%= link_to 'Edit', edit_tank_path(tank) %></td>
      <td><%= link_to 'Destroy', tank_path(tank),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>